[project]
	description = Node JDBC wrapper for Informix Driver
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AaronLiang
[access "refs/for/refs/*"]
	read = group user/AaronLiang
	push = group user/AaronLiang
	label-Code-Review = -2..+2 group user/AaronLiang
	label-Verified = -1..+1 group user/AaronLiang
	rebase = group user/AaronLiang
	removeReviewer = group user/AaronLiang
	submit = group user/AaronLiang
[access "refs/heads/*"]
	read = group user/AaronLiang
	create = group user/AaronLiang
	push = +force group user/AaronLiang
	pushMerge = group user/AaronLiang
[access "refs/tags/*"]
	push = +force group user/AaronLiang
	createTag = group user/AaronLiang
	createSignedTag = group user/AaronLiang
